@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Sen:wght@700&display=swap');
html,body{
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    list-style: none;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top {
    position: sticky;
    bottom: 240px;      
    margin-right:10px;
    place-self: end;
    margin-top: calc(5vh + var(--offset));
  }

.mass{
    background-color: #efefef;
    border: solid #b9b9b9 2px;
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}
.madal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

body.madal-open {
    overflow: hidden;
  }

.madal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
  
.clase {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.clase:hover, .clase:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.okay :hover{
    border: solid #ff0000;
    background-color: #ffffff;
    color: #ff0000;
    cursor: pointer;
}
.okay{
    text-decoration: none;
    border: solid #ff0000;
    background-color: #ff0000;
    color: #ffffff;
    margin: 0;
}

body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
  
body::-webkit-scrollbar {
    width: 0.1px;
    background-color: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(195, 192, 233);
    max-width: 100%;
    height: auto;
}

header{
    background: linear-gradient(#ffffff, #eeeeee);
}

.logo{
    position: relative;
    left: 10%;
    width: 130px;
    padding: 0;
}

.pan{
    margin-bottom: 16%;
    padding: 18px;
    border-left: solid 1px #b9b9b9;
}

.fa-cart-shopping{
    padding-right: 10px;
}

.info{
    margin-bottom: 11.8%;
    padding: 18px;
    border-left: solid 1px #b9b9b9;
    padding-right: 25px;
    padding-left: 25px;
}

.fa-user{
    padding-right: 10px;
}

.deco{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    background-color: #eeeeee;
    padding: 40px;
}

.un{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 100%;
    height: auto;
    padding: 2%;

}

.deux{
    align-items: flex-end;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin : 0;
    padding : 0;
}

.trois{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.code{
    position: relative;
    top: 10px;
    padding-left: 2%;
}

.bjr{
    color: #ff0000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-right: solid 1px #b9b9b9;
    border-left: solid 1px #b9b9b9;
    padding-right: 10%; 
    padding-left: 10%;
}

h3{
    margin: 0;
}

.date{
    position: relative;
    top: 10px;
    padding-right: 2%;
}

.prolo{
    padding-left: 10px;
}

.proj{
    width: 100%;
    height: 300px;
}

.container{
    position: relative;
    background-color: #efefef;
    margin: 0 4%;
}

.corp{
    position: relative;
    bottom: 120px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
}

.tete{
    position: relative;
    left: 0.5px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
}

.reserver{
    text-align: center;
    width: 50%;
    position: relative;
    color: #ff0000;
    background-color: #ffffff;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

.echanger{
    text-align: center;
    width: 50%;
    position: relative;
    color: #ffffff;
    background-color: #ff0000;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
}

.crp{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 60px;
}

.basg{
    z-index: 1;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-left: 70px;
}

.check{
    position: absolute;
    top: 5px;
    left: 62px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: end;
    display: grid;
    grid-template-rows: 78px 77px 94px 75px 63px;
}

.ok{
    color: #00B56E;
    background-color: #eeeeee;
    height: 15px;
    width: 15px;
}
.mi{
    position: relative;
    color: #b9b9b9;
    left: -2px;
    font-size: 25px;
    background-color: #eeeeee;
    height: 23px;
    width: 15px;
}

.border{
    padding: 0 0 0 15px;
    border-left: solid #b9b9b9;
}

.sous{
    font-size: 15px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.mod{
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    padding-bottom: 15px;
    cursor: pointer;
}

.billets{
    font-size: 25px;
}

.vérifier, .vérif{
    padding: 0 0 0 15px;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drt{
    position: sticky;
    left: 500px;
    width: 70%;
}

.basd{
    position: relative;
    bottom: 90px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
}

.haut{
    position: relative;
    bottom: 90px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 10px 30px;
    margin-bottom: 30px;
}

.basun{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.haute{
    position: relative;
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 10px 30px;
    margin-bottom: 30px;
}

.choix{
    position: relative;
    bottom: 20px;
    font-weight: normal;
    font-size: 1.3rem;
}

.principal{
    background-color: #eeeeee;
    font-weight: 700;
    padding: 20px;
    border-top: solid #e1e1e1;
    font-size: larger;
}

.input{
    margin: 20px 0;
}

.cadre{
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.cadreu{
    display: grid;
    grid-template-columns: 50% 50%;
}

.tel{
    display: grid;
    grid-template-columns: 35%;
}

.renseign{
    border: solid #e1e1e1;
    margin: 10px;
    padding: 10px;
    white-space: pre-line;
    line-height: 25px;
}

.fa-angle-down{
    padding-left: 20px;
}


.adulteun{
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.oblig{
    margin-top: 40px;
    border-top: solid 2px #e1e1e1;
    font-size: small;
}

.ticket{
    position: relative;
    width: 3%;
    height: 3%;
    padding-right: 10px;
}

.dessous{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.rougeatre{
    color: #ff0000;font-weight: 700;
}

.frase{
    position: relative;
    white-space: pre-line;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.visiteur{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.vun{
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    border-top: solid #e1e1e1;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.vde{
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    border-bottom: solid #e1e1e1;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.pad{
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.pade{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.ligne{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.claire{
    color: #949494;
    margin-right: 5px;
}


.cremonreg{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-weight: 700;
    padding-top: 50px;
    line-height: 25px;
}

.regler{
    color: #ff0000;
}

.ad{
    align-items: center;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
}

.fa-info{
    color: #ff0000;
    font-size: larger;
    border: solid #ff0000;
    border-radius: 50px;
    padding: 5px 10px;
    margin-right: 10px;
    border: solid 1px #ff0000;
}

.txte{
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}

.fa-trash-can{
    padding-left: 10px;
}

.conditions{
    position: relative;
    top: 15px;
}

.style:hover{
    border: solid #ff0000;
    background-color: #ffffff;
    color: #ff0000;
}
.style{
    border: solid #ff0000;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 150px;
}

@media screen and (max-width: 1441px) {
    .check{
        grid-template-rows: 78px 76px 95px 78px 60px;
    }
    .top{
        bottom: 500px;
    }
}
@media screen and (max-width: 1200px) {
    html, body {
        font-size: 0.9rem;
    }
    .container{
        height: 1000px;
    }
    .deco {
        padding: 35px;
    }
    .crp{
        padding: 25px 60px;
    }
    .corp{
        height: 150px;
    }
    .basg{
        width: 170px;
        font-size: 17px;
        padding-left: 50px;
    }
    .trouviere, .patrick, .ps, .peter, .bobby, .hamlet{
        width: 147px;
        height: 400px;
        font-size: 0.9rem
    }
    img{
        width: 150px;
        padding-bottom: 0;
    }
    .rouge{
        font-size: 0.9rem;
    }
    .gras{
        font-size: 0.9rem
    }
    .reserv, .avert, .complet{
        top: 45px;
    }
    .complet{
        top: 65px;
    }
    .img{
        width: 600px;
    }
    .top{
        bottom: 300px;
    }
    .check{
        position: absolute;
        top: 5px;
        left: 44px;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: end;
        display: grid;
        grid-template-rows: 60px 60px 75px 60px 50px;
    }
    .mi{
        left: -4px;
    }
    .bas{
        height: 1030px;
    }
    .proj{
        height: 150px;
    }
    .sous, .mod{
        font-size: 10px;
        font-weight: 700;
    }
    .vérifier{
        padding-left: 17px;
        width: 200px;
    }
    .vérif{
        padding-left: 17px;
    }
    .billets{
        font-size: 23px;
    }
    .border{
        width: 200px;
    }
}

@media screen and (max-width: 997px) {
    html, body {
        font-size: 0.8rem;
    }
    .proj{
        height: 150px;
    }
    .container{
        height: 800px;
    }
    .logo{
        width: 30%;
    }
    .pan{
        padding: 10px;
        margin-bottom: 15%;
    }
    .info{
        padding: 10px;
        margin-bottom: 11%;
    }
    .deco {
        padding: 20px;
    }
    h3{
        margin: 0;
        font-size: 1rem;
    }
    .code{
        top: 0;
    }
    .date{
        top: 0;
    }
    .img{
        width: 470px;
    }
    .crp{
        padding: 15px 20px;
        font-size: 2rem;
    }
    .corp{
        height: 130px;
    }
    .haut, .haute{
        padding: 10px 30px;
        font-size: 15px;
        width: 428px;
    }
    .txt{
        font-size: 2rem;
    }
    .basg{
        position: relative;
        bottom: 60px;
        width: 170px;
        font-size: 17px;
        padding-left: 20px;
    }
    .basun, .basde{
        padding: 10px;
    }
    .trouviere, .patrick, .ps, .peter, .bobby, .hamlet{
        width: 130px;
        height: 300px;
        font-size: 0.9rem;
        padding: 10px;
        line-height: 17px;
    }
    img{
        width: 100px;
        padding-bottom: 0;
    }
    .rouge{
        font-size: 0.9rem;
    }
    .gras{
        font-size: 0.9rem
    }
    .reserv, .avert, .complet{
        top: 45px;
    }
    .complet{
        top: 65px;
    }
    .drt{
        top: 150px;
    }
    .crp{
        padding: 15px 20px;
        font-size: 15px;
    }
    .corp{
        height: 100px;
        bottom: 100px;
    }
    .haut{
        padding: 10px 30px;
        font-size: 15px;
    }
    .choix{
        font-size: 14px;
        position: relative;
        top: 0px;
    }
    .top{
        bottom: 1000px;
    }
    .txt{
        font-size: 15px;
    }
    .check{
        position: absolute;
        top: 5px;
        left: 13px;
        display: grid;
        grid-template-rows: 72px 70px 60px 50px 50px;
    }
    .mi{
        left: -2px;
        font-size: 18px;
    }
    .bas{
        height: 720px;
    }
    .proj{
        height: 150px;
    }
    .sous{
        font-size: 10px;
        font-weight: 700;
    }
    .vérifier{
        padding-left: 17px;
    }
    .billets{
        font-size: 20px;
    }
    .txte{
        line-height: 15px;
    }
}